<a href="https://colab.research.google.com/github/LIZZETHGOMEZ/Data-Science-Fase-3-BEDU-Santander/blob/main/Modulo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Fase 3
## Módulo 4: Análisis de Datos con Python
## Team
- Omar Garduza
- Lizzeth Gómez Rodríguez
- Edgar Casanova
- Alan Sandoval

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [16]:
# Cargamos los datos a utilizar (previamente procesados)
df = pd.read_csv("https://raw.githubusercontent.com/LIZZETHGOMEZ/Data-Science-Fase-3-BEDU-Santander/main/Data/cleanData.csv", index_col = 0)
df.head()

  country  year  ...  total_respiratory_diseases  total_diseases_percent
0  Mexico  1990  ...                       56199                 0.12755
1  Canada  1990  ...                       16116                 0.08466
2  Israel  1990  ...                        2099                 0.07207
3   Japan  1990  ...                       98678                 0.12164
4  Mexico  1991  ...                       54217                 0.12364

[5 rows x 16 columns]